# Comandos Auxiliares

## Leitura o Arquivo

In [5]:
# Função de Leitura do Arquivo
import pandas as pd

In [14]:

df = pd.read_csv(r'D:\Users\Administrador\Documents\GitHub\002-Projects-Data-Science\datasets\dados_analise.csv')

In [15]:
df.sample(5)

      id first_name  gender  age  married  recently_bought
3      4         Ag    Male   21    False            False
727  728     Shalna    Male   32     True             True
300  301     Dorita    Male   52    False             True
90    91      Nonie  Female   59     True             True
548  549     Sawyer    Male   18    False             True

# Intodução à Lógica de Programação

## Problemas


* Problema 1: Selecionar os clientes com idades entre 18 e 65 anos.
    * Parte 1.1: Selecionar os clientes com idade maior que 18 anos
    
    * Parte 1.2: Selecionar os clientes com idade menor que 65 anos


* Problema 2: Selecionar os clientes que são mulheres.


* Problema 3: Selecionar os clientes que são homens e que são casados, ou os homens que não são casados mas que compraram na loja no último mês.
    * Parte 3.1: Selecionar os clientes que são homens
    * Parte 3.2: Selecionar os clientes que são casados
    * Parte 3.3: Selecionar os clientes que compraram na loja no último mês

## Solução

In [16]:
# Respostas
mulheres = []
homens = []

In [29]:
# Versão Inicial
for index, row in df.iterrows():
    # Condicionais aqui
    if (row['age'] >= 18):
        print('maior que 19')
    print('menor que 18')
    break

maior que 19
menor que 18

In [30]:
mulheres[0]

IndexError: list index out of range

In [19]:
homens[0]

IndexError: list index out of range

# Exemplo do IF

## Estrutura De Teste

In [20]:
lista_clientes = [
    {'id': 1,  'name': 'Pedro',     'gender': 'M', 'age': 32, 'married': True,  'recently_bought': True},
    {'id': 2,  'name': 'Guilherme', 'gender': 'M', 'age': 23, 'married': False, 'recently_bought': True},
    {'id': 3,  'name': 'Volpato',   'gender': 'M', 'age': 85, 'married': True,  'recently_bought': False},
    {'id': 4,  'name': 'Ferraresi', 'gender': 'M', 'age': 83, 'married': False, 'recently_bought': False},
    {'id': 5,  'name': 'Ana',       'gender': 'F', 'age': 29, 'married': True,  'recently_bought': True},
    {'id': 6,  'name': 'Carolina',  'gender': 'F', 'age': 92, 'married': False, 'recently_bought': False},
    {'id': 7,  'name': 'Curvina',   'gender': 'F', 'age': 44, 'married': False, 'recently_bought': False},
    {'id': 8,  'name': 'Ubaldo',    'gender': 'F', 'age': 72, 'married': False, 'recently_bought': False},
    {'id': 9,  'name': 'João',      'gender': 'M', 'age': 28, 'married': False, 'recently_bought': True},
    {'id': 10, 'name': 'Gabriel',   'gender': 'M', 'age': 82, 'married': True,  'recently_bought': True},
]

In [21]:
for cliente in lista_clientes:
    if (cliente['id'] == 1):
        print(cliente)
        break

{'id': 1, 'name': 'Pedro', 'gender': 'M', 'age': 32, 'married': True, 'recently_bought': True}

## Exemplos

### Selecione o cliente caso o nome dele seja Pedro

In [22]:
resposta =[]

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta.append(cliente)

In [23]:
resposta

[]

### Selecione o cliente caso a idade dele seja maior que 30 anos

In [24]:
resposta =[]

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta.append(cliente)

In [25]:
resposta

[]

### Selecione os clientes que tenham comprado recentemente

In [26]:
resposta =[]

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta.append(cliente)

In [27]:
resposta

[]

### Selecione os clientes que sejam mulheres e homens em listas separadas

In [28]:
mulheres = []
homens = []

for cliente in lista_clientes:
    # Condicional aqui

IndentationError: expected an indented block after 'for' statement on line 4 (246158500.py, line 5)

In [ ]:
homens

In [ ]:
mulheres

### Faça a seguinte seleção

Selecione os clientes que são casado e não casados. 
* Dos que são casados, selecione os que compraram e os que não compraram recentemente na loja. 
* Dos não casasdos, separe os que são homens. 
    * Dos homens separados, selecione os que tem idade maior que 35 anos
    * Dos homens separados que não tem idade maior que 35 anos, separe o cliente que tem o nome de Pedro

In [ ]:
# respostas
casados = []
nao_casados = []
compraram = []
nao_compraram = []
maior_35 = []
pedro = []

In [ ]:
for cliente in lista_clientes:
    # Condicional aqui

In [ ]:
casados

In [ ]:
nao_casados

In [ ]:
compraram

In [ ]:
nao_compraram

In [ ]:
maior_35

In [ ]:
pedro

# Operadores Lógicos

Utilizando a lista criada no exemplo do *if*, selecione os clientes com base no pedido

### 1. Operador E (AND) - Selecione os clientes que sejam casados E que tenham comprado recentemente na loja

In [ ]:
resposta_1 = []

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta_1.append(cliente)

In [ ]:
resposta_1

### 2. Operador OU (OR) - Selecione os clientes que não sejam casados OU que sejam mulheres

In [ ]:
resposta_2 = []

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta_2.append(cliente)

In [ ]:
resposta_2

### 3. Operador de Negação (NOT) - Utilizando o operador de Negação, selecione os clientes que são mulheres e não são casados

In [ ]:
resposta_3 = []

for cliente in lista_clientes:
    # Condicional aqui
    if ():
        resposta_3.append(cliente)
        
reposta_3